{% extends 'mainpage/site_temp.html' %}
{% load static %}


{% block right_css %}
    <link rel="stylesheet" href="{% static 'mainpage/css/teachers.css' %}">
{% endblock %}

{% block main_content %}
    <div class="title">
        <img src="{% static 'mainpage/img/mainpage_back.jpg' %}" alt="Бэкграунд конохи сверху">
        <div class="create_line">
            <section class="teachers_welc">
                <span>先生<kor>선생님</kor><chn>老师</chn></span>
            </section>
        </div>
    </div>
    <div class="teachers_rus">
        <span>Наши учителя</span>
    </div>
    <div class="teachers_info">

    </div>
{% endblock %}