{% extends 'mainpage/site_temp.html' %}
{% load static %}

{% block right_css %}
    <link rel="stylesheet" href="{% static 'mainpage/css/mainpage.css' %}">
{% endblock %}

{% block main_content %}
    <div class="title">
        <img src="{% static 'mainpage/img/mainpage_back.jpg' %}" alt="Бэкграунд конохи сверху">
        <div class="create_line">
            <section class="name_welc">
                <p>ようこそ!<span class="kor">어서 오세요!</span><span class="chn">欢迎光临!</span></p>
            </section>
        </div>
    </div>
    <div class="main_content_left_center">
        <h1 style="text-align: left;">Культурно-языковой</h1>
        <h1 style="text-align: left;">центр</h1>
        <h1 style="text-align: left;">Коноха</h1>
        <p style="text-align: left;">Более 80 довольных учеников!</p>
        <img src="{% static 'mainpage/img/intro.jpg' %}" alt="Интро про Коноху" width="400px" height="400px">
        <p>shdfaudsahfasdfhfdhhhadsffjhdska</p>
        <p>shdfaudsahfasdfhfdhhhadsffjhdska</p>
        <p>shdfaudsahfasdfhfdhhhadsffjhdska</p>
        <p>shdfaudsahfasdfhfdhhhadsffjhdska</p>
        <p>shdfaudsahfasdfhfdhhhadsffjhdska</p>
        <p>shdfaudsahfasdfhfdhhhadsffjhdska</p>
        <h1 style="text-align: left;">Культурно-языковой</h1>
        <h1 style="text-align: left;">Культурно-языковой</h1>
        <h1 style="text-align: left;">Культурно-языковой</h1>
    </div>

{% endblock %}