{% extends 'mainpage/site_temp.html' %}
{% load static %}

{% block right_css %}
    <link rel="stylesheet" href="{% static 'mainpage/css/mainpage.css' %}">
{% endblock %}

{% block main_content %}
    <div class="title">
        <img src="{% static 'mainpage/img/mainpage_back.jpg' %}" alt="Бэкграунд конохи сверху">
        <div class="create_line">
            <section class="name_welc">
                <span>ようこそ!<kor>어서 오세요!</kor><chn>欢迎光临!</chn></span>
            </section>
        </div>
    </div>
    <div class="privet">
        <span>Добро пожаловать в культурно-языковой центр Коноха!</span>
    </div>
    <div class="main_content_left_center1">
        <p>Раскройте мир восточных языков и культур вместе с нами. Мы - </p>
        <p>молодой и динамичный центр, специализирующийся на обучении</p>
        <p>корейскому, японскому и китайскому языкам. Наша цель - не только</p>
        <p>помочь вам овладеть языком, но и погрузить в уникальную культуру</p>
        <p>и традиции этих стран. В нашем центре вы найдете опытных</p>
        <p>преподавателей, которые с радостью поделятся своими знаниями и</p>
        <p> увлечением с вами.</p>
        <img src="{% static 'mainpage/img/intro.jpg' %}" alt="Картинка 1" width="400px" height="400px">
    </div>
    <div class="main_content_left_center2">
        <p>Наша программа обучения основана на современных методиках,</p>
        <p>которые помогут вам быстро и эффективно освоить язык.</p>
        <p>Мы предлагаем разнообразные курсы, от начального до продвинутого</p>
        <p>уровня, а также индивидуальные занятия, чтобы удовлетворить</p>
        <p>потребности каждого студента.</p>
        <div class="teachers_btn">
            <a href="/teachers">Наши учителя</a>
        </div>
        <br>
        <br>
        <br>
        <img src="{% static 'mainpage/img/intro.jpg' %}" alt="Картинка 1" width="400px" height="400px">
    </div>
    <div class="main_content_left_center3">
        <p>Присоединяйтесь к нам и откройте новые горизонты! Независимо от</p>
        <p>вашего уровня подготовки или возраста, мы готовы помочь вам</p>
        <p>достичь ваших языковых целей. Доверьтесь нашему молодому и</p>
        <p> энергичному коллективу, который с радостью поможет вам в</p>
        <p>путешествии к языковой и культурной гармонии.</p>
        <br>
        <br>
        <br>
        <img src="{% static 'mainpage/img/intro.jpg' %}" alt="Картинка 1" width="400px" height="400px">
    </div>




{% endblock %}