body {
    background: ghostwhite;
    overflow-x: hidden;
}

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Catread.ttf') format('truetype');
}

@font-face {
    font-family: 'MontFont';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.menu {
  position: fixed;
  left: 0; top: 0;
  width: 140px;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
  transition: 1s;
  transform: translateX(-100%);
  z-index: 99;
}

.menu_active {
  transform: translateX(0%);
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 30%;
  flex-direction: column;
  position: fixed;
  top: 40px;
}

.menu-list a {
  list-style: none;
  text-transform: capitalize;
  font-weight: 700;
  transition: transform .6s ease;
}

.menu-list a:hover {
  transform: scale(1.1);
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 0;
}

.content {
  padding-left: 30px;
  transition: 1s;
  position: relative;
  z-index: 0;

}

.content_active {
  transform: translateX(15%);
}

.title img {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.create_line {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: auto;
  max-height: 4.3em;
  background-color: lightpink;
  filter: saturate(70%);
}

.teachers_welc {
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  font-family: MontFont;
  animation: fadeIn 2s ease-out;
}
.teachers_welc kor{
  margin-right: 5vw;
  margin-left: 5vw;
}

.teachers_rus {
  font-family: MontFont;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  font-size: 1.8vw;
  font-weight: 700;
  animation: fadeIn 2s ease-out;
}

.teachers_pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: MontFont;
  animation: fadeIn 2s ease-out;
}

.teachers_pics img {
  height: 300px;
  width: 300px;
  margin-right: 4vw;
  margin-left: 4vw;
  margin-top: 3vw;
}

.teacher_name {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 550;
  font-size: 1.8em;
  color: black;
  text-decoration: none;

}

.teacher_name_ana {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  margin-left: -1em;
  justify-content: center;
  text-align: center;
  font-weight: 550;
  font-size: 1.8em;
  color: black;
  text-decoration: none;

}

.teachers_pics a:hover {
  color: black;
}

.teacher_position {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.55em;

}

.teacher_language {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 450;
  font-size: 1.2em;

}

.teachers_txt {
  display: none;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 1.2em;
  width: 480px;
}

.show {
  display: block;
  animation: fadeInDown 1s ease-out;
}

@media screen and (min-width: 340px) and (max-width: 430px) {
    .create_line {
        height: 30px; /* Высота для экранов шириной от 393 до 430 пикселей */
    }
}

/* Анимация появления */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUpDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}